:root{
    --primario: #dadada;
    --secundario:#F8E1C1;
    --acentos: #AD8853;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primario);

}

.logo{
 height: 100px;
 background-color: transparent;
}
.nav-up{
    padding: 0;
    margin: 0;
}
.menu{
    justify-content: flex-end;
    margin-right: 2rem;
}
body{
    background-color: var(--primario);
}
main{margin: 120px 2rem 2rem 1rem;
    padding-bottom: 1rem;
    height: 100%;

}
.secciones{
    background-color: var(--secundario);
    display: flow-root;
    text-align: justify;
    padding: 1.5rem;
    border: var(--acentos) solid 1px;
    box-shadow: 2px 2px 10px var(--acentos);
}
.float-right{
    float: right;
    margin-left: 1rem;
    min-width: 250px;
    width: 30%;
    border: var(--acentos) solid 3px;
    box-shadow: 3px 3px 15px var(--acentos);

}
.secciones h2{
    font-size: 22px;
    background-color: transparent;
    color: var(--acentos);
    font-weight: 800;
    margin-bottom: 0.5rem;

}
.secciones h3{
    font-size: 18px;
    font-weight: 800;
    text-decoration: solid;
    background-color: transparent;
    color: var(--acentos);

}
.secciones p{
    text-align: justify;
    background-color: var(--secundario);
    margin-bottom: 1rem;
}
.secciones article, ul ,li{
    background-color: var(--secundario);
    
}
.secciones article{
    margin-bottom: 2rem;
}
.sociales
{display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    

}
.sociales img{
    width: 32px;
    margin: 0 1rem;
    margin-top: 0.5rem;
    background-color: transparent;
}
footer{
    margin-top: 1.5rem;
    background-color: var(--primario);
    position: relative !important;
}
.copy{
    font-size: 14px;
}
.nav-item >.nav-link{
    color:var(--acentos);
}
.nav-item >.nav-link:hover{
    color:#6b4d22;}
